@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.header {
  padding: 0.5rem 0rem;
  position: fixed;
  background-color: $blue-dark;
  width: 100%;
  z-index: 1;
  .header_nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    @include responsive {
      justify-content: center;
    }
    .header_nav_menu {
      display: flex;
      list-style: none;
      .header_nav_menu_item {
        margin: 0rem 1rem;
        cursor: pointer;
        & > a {
          letter-spacing: 1px;
          color: $font-color;
          font-size: 18px;
          text-decoration: none;
          &:hover,
          &:active, 
          &:focus {
            font-size: 20px;
            transform: scale(1.5);
            color: $orange;
            transition: all 0.1s;
            @include responsive {
              font-size: 14px;
            }
          }
          @include responsive {
            font-size: 12px;
          }
        }
        @include responsive {
          margin: 0rem 0.8rem;
        }
      }
    }
  }
}
