@use "../../../styles/colors" as *;
@use "../../../styles/mixins" as *;

.title {
    color: $blue-dark;
    text-align: center;
    margin: 4rem 0rem;
    font-weight: bold;
    font-size: 40px;
    font-family: "Inter-Bold";
    @include responsive {
        font-size: 30px;
    }
}