@use "../../../styles/colors" as *;
@use "../../../styles/mixins" as *;

.title {
    color: $blue-dark;
    text-align: center;
    margin: 4rem 0rem;
    font-weight: 700;
    font-size: 40px;
    @include responsive {
        font-size: 30px;
    }
}